
html,body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:black;
}
.image2{

    max-height: 100%;
    max-width:100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.image1{
	max-height: 100%;
    max-width:100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.image3{
	max-height: 20%;
    max-width:30%;
    z-index: 3;
    position:relative;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	margin-bottom:50px;
	
}
h2{
	z-index:2;
	color:white;
	position:relative;
	bottom:50%;
	
}


.intro{
	height:100%;
    width:100%;
    margin:auto;
    
   background-color:black;
   display: table;
   background-size: cover;

    
}
.intro .inner{
	display:table-cell;
	vertical-align: middle;
	width:100%;
	max-width:none;
}
.content{
	max-width: 600px;
	margin:0 auto;
	text-align:center;
	padding-bottom:28%;

}
div{
	transition:all 3s;
	-webkit-transition-delay: 2s; /* Safari */
    transition-delay: 3s;
	
}

.fade-in{
	animation: fadeIn 35s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-out{
	animation: fadeOut 10s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.zoom-in{animation: zoomIn 5s;}
@keyframes zoomIn{
	from{ max-height: 0%;
    max-width:100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;}
	to { max-height: 100%;
    max-width:100%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);}
}


/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}
